#yourShipsMap td {
	border: 1px solid black;
	width: 20px;
	height: 20px;
}

#yourShipsMap td[data-location="side"] {
	border: none;
}

#maps{
	display: flex;
	justify-content: center;
}

#salvosMap td {
	border: 1px solid black;
	width: 20px;
	height: 20px;
}

#salvosMap td[data-location="side"] {
	border: none;
}

#title {
	display: flex;
	justify-content: center;
}

#info {
	display: flex;
	justify-content: center;
}

.hit {
	margin: 0;
	border: 1px solid black;
	border-radius: 10px;
	background-color: red;
	text-align: center;
}

#logout {
	float: right;
}


#choice td {
	border: 1px solid black;
	background-color: black;
	width: 20px;
	height: 20px;
}

.highlight {
	background-color: gray;
}

.placed {
	background-color: green;
}

.hide{
	visibility: hidden;
}

.overlap {
	background-color: red;
}

#shooting{
	display: none;
} 

.shot {
	background-color: yellow;
}

table, th, td {
	border: 1px solid black;
}