

#back {
	display: none;
}

.jumbotron {
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/d1/5e/ff/d15eff93dde29024d763e3cb2a665f25.jpg);
	background-position: center;
	height: 200px;
}

#top {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

#greetings {
	display: flex;
	justify-content: center;
}

.btn-login-form {
	width: 150px;
}
