.backGame,
.joinGame{
	width: 100px;
}

#back {
	display: none;
}

#games {
	border-left: 3px solid #a29c9c;
}

.jumbotron {
	background-image: url(http://i2.cdn.cnn.com/cnnnext/dam/assets/170126112222-russian-aircraft-carrier-admiral-kuznetsov-01-25-full-169.jpg);
	background-position: center;
	height: 200px;
	
}

#top {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

#newGame {
	width: 150px;
}

#greetings {
	display: flex;
	justify-content: center;
	color: white;
}

.btn-login-form {
	width: 150px;
}

#logOutBtn {
	margin-top: none;
	display: flex;
	align-items: flex-start;
	justify-content:space-between;
}

#jumbo {
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
}

#leaderBoard {
	border-left: 3px solid #a29c9c;
}

#leaderBoard tr:nth-child(even) {
	background-color: #f2f2f2;
}

#leaderBoard tr:hover {
	background-color: #e7ebd8;
}

td {
	padding: 10px;
	text-align: center;
}

th {
	padding-bottom: 10px;
	text-align: center;
}

#leaderBoard tr:nth-child(1)> td {
	font-weight: bolder;
}